{{ $name := .Get "name" }}
<div class="keyboard">
  <div style="width: 100%; padding-top: 34%; position: relative;">
    <object type="image/svg+xml"
            {{ with .Get "class" }} class="{{ . }}" {{ end }}
            {{ with .Get "data" }} data="{{ (printf "img/%s.svg" .) | relURL }}" {{ end }}
      style="position: absolute; top: 0; left: 0; width: 100%;"></object>
  </div>

  <form>
    <fieldset class="layers" hidden>
      <input type="radio" name="layers" label="Typo"  value="odk" checked
        title="caractères obtenus par la touche « Typo » (vue simplifiée)">
      <input type="radio" name="layers" label="Typo+Symboles"   value="mixed"
        title="caractères obtenus par les touches « Typo » et « Symboles »">
      <input type="radio" name="layers" label="Symboles" value="altgr"
        title="caractères obtenus par la touche « Symboles »">
    </fieldset>
    <fieldset class="geometry">
      <input type="radio" name="geometry" label="3×6"   value="ol40"
        title="géométrie 40 % type OLKB Planck">
      <input type="radio" name="geometry" label="4×6"   value="ol50"
        title="géométrie 50 % type OLKB Preonic">
      <input type="radio" name="geometry" label="TMx"   value="ol60"
        title="géométrie 60 % type TypeMatrix">
      <input type="radio" name="geometry" label="ANSI"  value="ansi"
        title="géométrie américaine">
      <input type="radio" name="geometry" label="ISO"   value="iso" checked
        title="géométrie européenne">
      <input type="radio" name="geometry" label="ISO-A" value="iso-a"
        title="géométrie européenne avec variante en « A »">
    </fieldset>
  </form>

  {{ if $name }}
    {{ with .Get "data" }}
    <dialog>
      <input spellcheck="false" placeholder="zone de saisie {{ $name }}" />
      <x-keyboard src="{{ (printf "keymaps/fr/%s.json" .) | relURL }}"></x-keyboard>
    </dialog>
    {{ end }}
    <nav>
      {{ with .Get "href" }}
        <a href="{{ . | relURL }}"><span>⇣</span> Installer</a>
      {{ end }}
      {{ with .Get "data" }}
        <button disabled>⇪ Tester</button>
        <a href="{{ "stats/" | relURL }}#/{{ . }}//en+fr"><span>𝚺</span> Stats</a>
        <a href="{{ (printf "dactylo/#%s" .) | relURL }}"><span>⌨</span> Apprendre</a><!-- 🎓 -->
      {{ end }}
    </nav>
  {{ end }}
</div>
